/* General & Body Styling */
:root {
    --marian-blue: #023E8A;
    --honolulu-blue: #0077B6;
    --blue-green: #0096C7;
    --vivid-sky-blue: #48CAE4;
    --lavender-blush: #EEE5E9;
    --dark: #333333;
    --light: #f0f0f0;
    --status-pending: #ffc107;
    --status-active: #28a745;
    --status-on-sale: #007bff;
    --status-inactive: #dc3545;
    --status-bouncing: #6f42c1;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", Roboto, Arial, sans-serif;
}

body {
    font-weight: 500;
    background-color: #C5DFE8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-card {
    background: #eee5ee;
    display: flex;
    flex-direction: row;    
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba (0, 0, 0, 0.2);
    width: 850px;
    max-width: 95%;
}

.left-side {
    flex: 1;
    background: #f3f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}

.left-side img {
    width: 120%;
    max-width: 500px;
}

.right-side {
    flex: 1;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    width: 150px;
    z-index: 99;
    padding: 5px;
    margin: 0 auto 0 auto;
    display: block;
}

h1 {
    text-align: center;
    margin-bottom: 35px;
    color: #000000;
    letter-spacing: 1px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box i {
    position: absolute;
    top: 50%;   
    left: 10px;
    transform: translateY(-50%);
    color: #000000;
}

.input-box input {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    Font-size: 14px;
}

.btn {
    width: 100%;
    background: #023E8A;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    font-size: 15px;
}

.btn:hover {
    background: #0096c7;
}

.register-text {
    text-align: center;
    font-size: 12px;
    margin-top: 25px;
    line-height: 1.6;
}

.register-text a {
    color: #023E8A;
    text-decoration: none;
    font-weight: 500;
}

.register-text a:hover {
    text-decoration: underline;
    color: #0096c7;
}